body {
  box-sizing: border-box;
  background-image: url("../images/connect/connect.png");
}

#test_Subject {
  background-color: red;
  width: 960px;
  margin: 0 auto;
  padding: 5px;
}

/*Teal color (used for backgrounds)*/
.tealBg {
  background-color: #4aaaa5;
}

/*Teal color (used for headings)*/
.tealFont {
  color: #4aaaa5;
}

/*Regular font color (used for paragraphs and all text besides the headings):*/
.grayFont {
  color: #777777;
}

/*Main header background color, Main content background color*/
.whiteBg {
  background-color: #ffffff;
}

/*Main header border color*/
.grayBorder {
  border-color: #cccccc;
}

/*Footer background color*/
.dkGrayBg{
  background-color: #666666;
}

/*Main content border color*/
.ltGrayBorder {
  border-color: #dddddd;
}

/*For heading fonts*/
.headingFont {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/*For all other fonts*/
.otherFont {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

#myBrand {
  padding: 20px;
}

#backgroundNavbar {
background-color: red;
}

.navbar-nav { 
  flex-direction: row;
}

.navbar-nav li:not(:last-child){
  border-right: 1px solid #cccccc;
}

.navbar-brand {
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
}

.nav-link {
  color: #777777;
}

.footer {
  font-size: small;
  border-top: 5px solid #4aaaa5;
  color: #dddddd;
}

.main-container {
  margin-bottom: 80px;
  margin-top: 20px;
}

.sub-main-container {
  background-color: #ffffff;
  padding-top: 1rem;
}

.header-container {
  padding-left: 0;
  padding-right: 0;
}
.border-bottom {
  border-bottom-width: 2px !important;
  border-color: #cccccc !important;
}

.border {
  border-color: #dddddd !important;
}

#profile-image {
  width: 247px;
  height: 185px;
  float: left;
  padding-right: 15px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  border-color: #dddddd;
}

label {
  font-size: 1.2rem;
}

#submitBtn {
  color: #ffffff;
  font-size: 1.2rem;
  border-radius: 0;
  padding-right: 24px;
  padding-left: 24px;
  margin-bottom: 2rem;
}

.card-img {
  border-radius: 0;
}

.card-title {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #ffffff;
  position: relative;
  top: 78%;
  padding: 4%;
}

.card-img-overlay {
  padding: 0.94rem;
}

.portfolio-col {
  margin-bottom: 2rem;
}