body {
  box-sizing: border-box;
  background-image: url("../images/connect/connect.png");
}

/*Teal color (used for backgrounds)*/
.tealBg {
  background-color: #4aaaa5;
}

/*Teal color (used for headings)*/
.tealFont {
  color: #4aaaa5;
}

/*Regular font color (used for paragraphs and all text besides the headings)
  color: #777777;
*/

/*Main header background color, Main content background color*/
.whiteBg {
  background-color: #ffffff;
}

/*Main header border color
  border-color: #cccccc;
*/

/*Footer background color*/
.dkGrayBg{
  background-color: #666666;
}

/*Main content border color
  border-color: #dddddd;
*/

/*For heading fonts*/
.headingFont {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/*For all other fonts*/
.otherFont {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

/*fixes spaceing for brand tab*/
#myBrand {
  padding: 20px;
}

/*fixes size and style of brand tab text*/
.navbar-brand {
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
}

/*fixes spacing for navbar links*/
.navbar-nav { 
  flex-direction: row;
  line-height: 0;
}

/*makes divider lines for navbar links*/
.navbar-nav li:not(:last-child){
  border-right: 1px solid #cccccc;
}

/*fixes color for navbar links*/
.nav-link {
  color: #777777;
}

/*fixes format for footer*/
.footer {
  font-size: small;
  border-top: 5px solid #4aaaa5;
  color: #dddddd;
}

/*fixes the spacing between the main container and the header and footer*/
.main-container {
  margin-bottom: 80px;
  margin-top: 20px;
}

/*sets up the alignment I wanted*/
.sub-main-container {
  background-color: #ffffff;
  padding-top: 1rem;
}

/*lines up the edge of the brand tab where I want it*/
.header-container {
  padding-left: 0;
  padding-right: 0;
}

/*sets width and color of the header's bottom border*/
.border-bottom {
  border-bottom-width: 2px !important;
  border-color: #cccccc !important;
}

/*sets color of the sub-main-container's border*/
.border {
  border-color: #dddddd !important;
}

/*specifies the size of my profile image since it was too big*/
#profile-image {
  width: 247px;
  height: 185px;
  float: left;
  padding-right: 15px;
}

/*sets up the horizontal line that splits the content from the heading*/
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  border-color: #dddddd;
}

/*enlarges the text for the contact page to where I wanted it*/
label {
  font-size: 1.2rem;
}

/*fixes the submit button's color, style, shape etc.*/
#submitBtn {
  color: #ffffff;
  font-size: 1.2rem;
  border-radius: 0;
  padding-right: 24px;
  padding-left: 24px;
  margin-bottom: 2rem;
}

/*changes the card from rounded corners to sharp corners*/
.card-img {
  border-radius: 0;
}

/*fixes the spacing, positioning, color etc. for the text that goes over the images in the portfolio gallery*/
.card-title {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #ffffff;
  position: relative;
  top: 78%;
  padding: 4%;
}

/*lets the background reache the edge of the picture behind it*/
.card-img-overlay {
  padding: 0.94rem;
}

/*allows some extra space between the portfolio pictures*/
.portfolio-col {
  margin-bottom: 2rem;
}